.title {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;

    @media (max-width: 768px) {
        font-size: 48px;
        line-height: 137.5%;
    }
}